<div class="jumbotron center">
  <h1>Welcome to my Pinterest App</h1>
  
  <p>Narly eh</p>
  
  <%= link_to "Login", root_path, class: "btn btn-primary" %>
  <%= link_to "Join", root_path, class: "btn btn-success" %>
</div>