<div class="jumbotron center">
  <h1>Welcome to my Pinterest App</h1>
  
  <p>Narly eh</p>
  
  <%= link_to "Login", new_user_session_url, class: "btn btn-primary" %>
  <%= link_to "Join", new_user_registration_url, class: "btn btn-success" %>
</div>